    colgroup    {
        display: table-column-group;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }   
    col         {
        display: table-column;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    caption     {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        padding: 0.5em 0;
    }
    tr          {
        display: table-row;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    th          {
        display: table-cell;
        font-weight: bold;
        text-align: left;
        padding: 0.5em;
        border-color: inherit;  
        border-style: solid;
        border-width: 0;
    }
    td          {
        display: table-cell;
        text-align: left;
        padding: 0.5em;
        border-color: inherit;  
        border-style: solid;    
        border-width: 0;
    }